.FoFFormattingSettingsPage {
  margin-top: 25px;
  .Checkbox {
    > a {
      min-width: 100px;
      display: inline-block;
    }

    > span {
      font-weight: normal;
    }

    &.off {
      .Checkbox-display {
        background: var(--control-bg-darken-5);
      }
    }
  }
}

[data-theme^=light] {
  --control-bg-darken-5: darken(@control-bg-light, 5%);
}
[data-theme^=dark] {
  --control-bg-darken-5: darken(@control-bg-dark, 5%);
}